@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');


:root {
    --text: hsl(238, 29%, 16%);
    --text-hover: hsl(14, 88%, 65%);
}

/* Mobile */

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--text);
}
main {
    display: flex;
    flex-direction: column;
    width: 327px;
    background: white;
    border-radius: 23px;
    box-shadow: 0 2.5rem 4.5rem -1rem hsl(240, 40%, 38%);
}
.images {
    position: relative;
    width: 70%;
    margin: auto;
    height: 100px;
}
.picture {
    position: absolute;
    transform: translateY(-60%) translateX(-2%);  
    width: 238px;  
    margin: auto;
}
.shadow {
    position: absolute;
    max-width: 240px;  
    transform: translateX(-2%);
}
.box {
    display: none;
}
.pictureDesktop {
    display: none;
}
.shadowDesktop {
    display: none;
}
.questions {
    margin-bottom: 3rem;
}
h1 {
    width: 100%;
    text-align: center;
    margin: 2rem 0 1rem 0;
}
p {
    width: 85%;
    display: flex;
    margin: auto;
}
.arrow {
    margin: auto 0 auto auto;
    margin-left: auto;
    height: min-content;
}
.question {
    padding: 1rem 0;
    font-size: 13px;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}
.question:hover {
    cursor: pointer;
}
.answer {
    display: none;
    padding: 0 0 1rem 24.5312px;
    margin: 0;
    color: hsl(240, 6%, 50%);
    width: 75%;
    line-height: 1.5;
    font-size: 12px;
}
.flip {
    transform: rotateX(180deg);
}
footer { 
    position: absolute;
    font-size: 12px; 
    text-align: center; 
    bottom: 10px;
    color: white;
}
footer a { 
    color: hsl(239, 100%, 25%); 
    letter-spacing: 1px;
}
footer a:hover { 
    color: hsl(182, 100%, 50%); 
}

/* Desktop */

@media (min-width: 1080px) {
    main {
        width: 920px;
        flex-direction: row;
    }
    .images {
        width: 50%;
        height: 510px;
        background-image: url(woman-desktop.svg), url(bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position: left -5.2rem bottom 5rem, left -36rem bottom -8.6rem;
        margin-right: 2.1rem;
    }
    .box {
        display: block;
        position: absolute;
        width: 191px;
        height: 184px;
        transform: translateY(111%) translateX(-49%);
    }
    .questions {
        width: 50%;
    }
    h1 {
        text-align: left;
        margin: 0;
        padding: 4rem 0 1rem 0;
    }
    .question {
        margin: auto auto auto 0;
        width: 75%;
    }
    .answer {
        padding: 0 0 1rem 0;
        margin: 0;
        color: hsl(240, 6%, 50%);
        width: 75%;
        line-height: 1.5;
        font-size: 12px;
    }
    .picture {
        display: none;
    }
    .shadow {
        display: none;
    }
}
.shift {
    transform: translateY(113%) translateX(-68%);
}